body,
html {
  height: 100vh;
}

body {
  font-family: "Luckiest Guy", cursive;
  font-family: "Roboto", sans-serif;
  color: #22222b;
}

.text-center {
  text-align: center;
}

.main {
  background-image: url(../img/desktop2.png);
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
  box-sizing: border-box;
  padding-top: 36px;
  padding-bottom: 45px;
}

.wrapper {
  max-width: 1170px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.header {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav {
  list-style: none;
  display: flex;
  padding-left: 0;
  margin: 0;
}
.nav__item {
  margin-left: 23px;
}
.nav__link {
  color: #22222b;
  font-weight: 500;
  text-decoration: none;
  border-bottom: 2px solid transparent;
  transition: 0.3s;
}
.nav__link:hover {
  border-bottom: 1px solid #22222b;
}

.title-h1 {
  font-size: 60px;
  font-weight: 300;
  text-align: center;
}
.title-h1 span {
  font-weight: 500;
}

.title-h2 {
  font-size: 48px;
  font-weight: 500;
  margin: 0;
  padding-bottom: 30px;
}

.title-h3 {
  font-size: 22px;
  font-weight: 400;
}

.after-title {
  color: #7f7f82;
  font-size: 16px;
}

.btn-scroll {
  background-color: transparent;
  border: none;
  display: block;
  margin: 0 auto;
}

.about {
  padding-top: 100px;
  padding-bottom: 100px;
}

.box-about {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
.box-about__item {
  position: relative;
  flex: 0 0 42%;
  max-width: 45%;
}
.box-about:first-child {
  display: flex;
  justify-content: flex-end;
}
.box-about_back {
  position: absolute;
  z-index: -1;
  left: -186px;
  top: -100px;
}
.box-about_vertical {
  position: absolute;
  bottom: 50px;
  left: -178px;
  writing-mode: vertical-lr;
  transform: rotate(180deg);
  font-size: 16px;
}
.box-about_vertical::after {
  content: "";
  display: block;
  position: absolute;
  width: 1px;
  height: 60px;
  background-color: #22222b;
  right: 9px;
  top: 93px;
}
.box-about__text {
  color: #7f7f82;
  font-size: 16px;
  line-height: 34px;
  margin: 0;
  padding-bottom: 30px;
}

.progress-bar__text {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 16px;
  font-weight: 500;
  padding-bottom: 10px;
}
.progress-bar__line {
  position: relative;
  width: 100%;
  height: 2px;
  background-color: #22222b;
}
.progress-bar__line::before {
  content: "";
  display: block;
  width: 6px;
  height: 11px;
  background-image: url(../img/Starting-Pont.png);
  background-repeat: no-repeat;
  position: absolute;
  left: -1px;
  top: calc(50% - 5px);
}
.progress-bar__line::after {
  content: "";
  position: absolute;
  display: block;
  right: 0;
  height: 2px;
  background-color: #f2f2f2;
}
.progress-bar_ind::after {
  width: 50%;
}
.progress-bar_xd::after {
  width: 20%;
}

.services {
  background-color: #faf9fe;
  padding-top: 100px;
  padding-bottom: 100px;
}

.services .title-h2 {
  font-size: 36px;
  font-weight: 400;
  padding-bottom: 5px;
}

.service {
  display: grid;
  grid-template: 1fr 1fr/1fr 1fr 1fr;
  grid-gap: 45px;
  padding-top: 52px;
}
.service-item:hover .service__link_text {
  width: inherit;
  opacity: 1;
}
.service__icon {
  display: block;
  width: 48px;
  height: 48px;
  background-repeat: no-repeat;
}
.service__design {
  background-image: url(../img/icon/books_icon.png);
  background-size: 48px 48px;
}
.service__photo {
  background-image: url(../img/icon/laptop_icon.png);
  background-size: 48px 48px;
}
.service__web {
  background-image: url(../img/icon/code_icon.png);
  background-size: 48px 48px;
}
.service__social {
  background-image: url(../img/icon/analytics_icon.png);
  background-size: 48px 48px;
}
.service__marketing {
  background-image: url(../img/icon/lamp_icon.png);
  background-size: 48px 48px;
}
.service__app {
  background-image: url(../img/icon/profit_icon.png);
  background-size: 48px 48px;
}
.service__text {
  color: #7f7f82;
  font-size: 14px;
  line-height: 28px;
  padding-bottom: 20px;
}
.service__text p {
  min-height: 90px;
}
.service__link {
  color: #22222b;
  font-size: 14px;
  text-decoration: none;
  position: relative;
}
.service__link::before {
  content: "";
  display: block;
  width: 45px;
  height: 1px;
  background-color: #22222b;
  position: absolute;
  right: -52px;
  top: 50%;
}

.section-portfolio {
  padding: 100px 0 100px 0;
}

.section-portfolio .title-h2 {
  font-size: 36px;
  font-weight: 400;
  padding-bottom: 0;
}

.portfolio {
  display: grid;
  grid-template: repeat(7, 80px)/1fr 1fr 1fr;
  grid-gap: 40px;
  padding-top: 60px;
}
.portfolio-01 {
  grid-column: 1/2;
  grid-row: 1/4;
}
.portfolio-02 {
  grid-column: 2/3;
  grid-row: 1/5;
}
.portfolio-03 {
  grid-column: 3/4;
  grid-row: 1/4;
}
.portfolio-04 {
  grid-column: 1/2;
  grid-row: 4/8;
}
.portfolio-05 {
  grid-column: 2/3;
  grid-row: 5/8;
}
.portfolio-06 {
  grid-column: 3/4;
  grid-row: 4/8;
}

.btn {
  color: #fff;
  background-color: #22222b;
  font-size: 16px;
  text-decoration: none;
  padding: 20px 45px;
}

.banner {
  padding-top: 100px;
  background-color: #22222b;
  color: #fff;
  text-align: center;
}
.banner .btn {
  color: #22222b;
  background-color: #fff;
  padding: 20px 75px;
}
.banner .text-center {
  margin-bottom: 20px;
}
.banner .before-title {
  font-size: 22px;
}
.banner .title-h2 {
  padding-bottom: 28px;
}
.banner .banner-a {
  padding-bottom: 120px;
}

.section-feedback {
  padding-top: 100px;
  padding-bottom: 100px;
}
.section-feedback .title-h2 {
  font-size: 36px;
  font-weight: 400;
  padding-bottom: 0;
}

.feedback {
  display: flex;
  justify-content: space-between;
  margin-top: 60px;
}
.feedback__item {
  flex: 0 0 45%;
  max-width: 45%;
}
.feedback__top {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 60px;
}
.feedback__thumb {
  margin-right: 10px;
}
.feedback__name_title {
  font-size: 22px;
  margin-top: 16px;
  margin-bottom: 0;
}
.feedback__name_job {
  font-size: 12px;
  color: #7f7f82;
  margin-bottom: 0;
}
.feedback__body {
  font-size: 18px;
  color: #7f7f82;
  font-style: italic;
  line-height: 1.8;
  padding-left: 20px;
}
.feedback__body p {
  min-height: 120px;
}

.section-advantages {
  padding: 100px 0 100px 0;
  background-color: #faf9fe;
}
.section-advantages .title-h2 {
  font-size: 36px;
  font-weight: 400;
  padding-bottom: 0;
}

.advantages {
  display: flex;
  justify-content: space-between;
  text-align: center;
}
.advantages__title {
  font-size: 16px;
  text-transform: uppercase;
}
.advantages__title span {
  font-size: 22px;
  display: block;
  font-weight: 500;
}
.advantages__icon {
  width: 70px;
  height: 70px;
  background-color: #22222b;
  border-radius: 100%;
  margin: 0 auto;
  background-position: center center;
  background-repeat: no-repeat;
}
.advantages__icon-01 {
  background-image: url(../img/Forma-1.png);
}
.advantages__icon-02 {
  background-image: url(../img/Forma-2.png);
}
.advantages__icon-03 {
  background-image: url(../img/Forma-3.png);
}
.advantages__icon-04 {
  background-image: url(../img/Shape-4.png);
}

.section-form {
  padding: 100px 0 100px 0;
}
.section-form .title-h2 {
  font-size: 36px;
  font-weight: 400;
  padding-bottom: 0;
}

.form {
  display: flex;
  flex-direction: column;
  max-width: 750px;
  margin: 0 auto;
  margin-top: 50px;
}
.form-input, .form-textarea {
  border: none;
  border-bottom: 1px solid #e1e1e1;
  font-size: 14px;
  padding: 20px;
  text-align: center;
  margin-bottom: 10px;
  transition: 0.3s;
}
.form-input:focus, .form-textarea:focus {
  outline: none;
  border-bottom: 1px solid #22222b;
}
.form .btn {
  margin-top: 20px;
}

footer {
  background-color: #22222b;
  padding-top: 50px;
  padding-bottom: 50px;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  font-size: 16px;
}

.social-network {
  display: flex;
  list-style-type: none;
  padding-left: 0;
  margin: 0;
}
.social-network__item {
  margin-left: 19px;
}
.social-network__link {
  color: #fff;
}

.phone-number {
  text-align: center;
  font-size: 60px;
  color: #1316c4;
}

/*# sourceMappingURL=style.css.map */
